body{
    font-family: arial, tahoma, sans-serif;
}

ul,li{
    display: block;
    padding-left: 20px;
}
.content ul,li{
    display: inline;
    padding-left: 20px;
}
h1{
    color: #ffffff;
    padding-left: 20px;
    float: left;
    font-size: 24px;
}
h3{
    color: dodgerblue;
}
.header{
    width: 100%;
    height: 60px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.headline{
    width: 100%;
    height: 10px;
    background: dodgerblue;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 4;
}
.footer{
    width: 100%;
    height: 20px;
    background: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.leftmenu{
    width: 18%;
    height: 100%;
    background: #DDDDDD;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 60px;
    z-index: 2;
}
.info{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
}
.authorize{
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}
.content {
    width: 100%
float: left;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 30%;
    padding: 20px;
    z-index: 1;
}
.form {
    width: 100%;
    border: 1px solid white;
    border-radius: 3px;
    color:  #333;
    font-size: 12px;
    margin-top: 20px;
    padding: 3px;
    z-index: 1;

}

#log_toggled {
    width: 260px;
    position: fixed;
    top: 60px;
    right: 10px;
    opacity: 0;
    z-index: 3;
}
.form_container{
    border-radius: 10px ;
    padding: 20px;
    background: dodgerblue;
    color: whitesmoke;
    font-size: 14px;
    z-index: 3;
}
.form_container input{
    margin-top: -20px;
    margin-bottom: 20px;
}
.legend{
    color: white;
    margin-top: 20px;

}
.button {
    width: 200px;
    border: 1px solid white;
    border-radius: 3px;
    background: #78bcff;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 12px;
    color: white;
    padding: 5px;
}

.button:hover {
    width: 200px;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    background: #FFF;
    text-shadow: none;
    font-size: 12px;
    color: #78bcff;
    padding: 5px;

}
a:link{
    color: dodgerblue;
    font-size: 18px;
    text-decoration: none;
}

a:visited{
    color: dodgerblue;
    font-size: 18px;
    text-decoration: none;
}

a:hover{
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: underline;
}
.flash{
    color: #999999;
    font-size: 14px;
    padding-right: 10px;

}
.hidden{
    width: 200px;
    height: 20px;
    opacity: 0;
    margin-left: -200px;

}
.static_button {
    width: 210px;
    border: 1px solid white;
    border-radius: 3px;
    background: #78bcff;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 12px;
    color: white;
    padding: 5px;
}
.blutext{
    color: dodgerblue;
}
.comment{
    display: none
}

.message{
    position: fixed;
    top: 220px;
    right: 18%;
    width: 240px;
    display: none
}

.message_container{
    border-radius: 10px 0 0 10px;
    padding: 20px;
    background: #DDDDDD;
    color: dodgerblue;
    font-size: 14px;
    z-index: 3;
}

.message_block{
    border-radius: 10px;
    padding: 10px;
    background: #EEEEEE;
}

.blog{
    width: 100%;
    float: left;
    background: #eeeeee;
    border-radius: 10px;
    border: 1px solid dodgerblue;
    padding: 25px;
    margin-bottom: 20px;
    z-index: 1;
}
.edit_div{
    float: right;
    top: 25px;
    right: 25px;
}
.date{
    font-size: 10px;
    color: #404040;
    font-style: italic;
}
.divider{
    margin-top: 200px;
    margin-right: 25px;
}

